<html>
    <head>
<title> yeet </title>
    </head>
    <body>
        <h2>Softwarekonstrulktion2</h2>
        <p>&#128512;</p>
        
    </body>
    <body>
        <h1>Home page</h1>
        <p>{{content}}</p>
        <p>{{content1}}</p>
        <p>{{content2}}</p>
        <p>{{content3}}</p>
        <p>{{content4}}</p>
        
    </body>
</html>
<body>
    
<table border ="69">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>serie</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Vakse Viggo</td>
        <td>Splint og co</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ratata</td>
        <td>Lucky Luke</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Fedtmule</td>
        <td>Walt of co</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Obelix</td>
        <td>Asterix</td>
    </tr>
    </table>
</body>